<html lang="en">
	<head>
		<%- include("partials/head.ejs", {tituloWeb: "getProducts"}) %>
	</head>
	<body>
		<header><%- include("partials/header.ejs") %></header>
		<main>
			<section class="main-table">
				<% if(allProducts === undefined){ %>
					<h1>NO HAY PRODUCTOS</h1>
				<% } else{ %>  
					<table>
						<thead>
							<tr>
								<th>Id</th>
								<th>Title</th>
								<th>Price</th>
								<th>thumbnail</th>
							</tr>
						</thead>
						<tbody id="tBody">
							<% allProducts.forEach(data => { %>
								<tr>
									<th><%= data.id%></th>
									<td><%= data.title%></td>
									<td>$<%= data.price%></td>
									<td>
										<img src=<%= data.thumbnail%> alt="hola" width="100px"/>
									</td>
								</tr>
							<% }) %>
						</tbody>
					</table>
				<% } %>
			</section>
		</main>
	</body>
	<footer><%- include("partials/footer.ejs") %></footer>
</html>
