<html lang="en">
	<head>
		<%- include("partials/head.ejs", {tituloWeb: "getProducts"}) %>
		<script defer src="/js/products.js" type="module"></script>
	</head>
	<body>
		<header><%- include("partials/header.ejs") %></header>
		<main>
			<section class="main-form">
				<form class="form-post">
					<div class="group-input">
						<label for="title">Title:</label>
						<input type="text" id="title" name="title" />
					</div>
					<div class="group-input">
						<label for="price">Price:</label>
						<input type="text" id="price" name="price" />
					</div>
					<div class="group-input">
						<label for="thumbnail">Thumbnail:</label>
						<input type="text" id="thumbnail" name="thumbnail" />
					</div>
					<button id="form-post">Crear Producto</button>
				</form>
			</section>
			<section class="main-table">
				<% if(allProducts === undefined){ %>
					<h1>NO HAY PRODUCTOS</h1>
				<% } else{ %>  
					<table>
						<thead>
							<tr>
								<th>Id</th>
								<th>Title</th>
								<th>Price</th>
								<th>thumbnail</th>
							</tr>
						</thead>
						<tbody id="tBody">
							<% allProducts.forEach(data => { %>
								<tr>
									<th><%= data.id%></th>
									<td><%= data.title%></td>
									<td>$<%= data.price%></td>
									<td>
										<img src=<%= data.thumbnail%> alt="hola" width="100px"/>
									</td>
								</tr>
							<% }) %>
						</tbody>
					</table>
				<% } %>
			</section>
		</main>
	</body>
	<footer><%- include("partials/footer.ejs") %></footer>
</html>
